---
import { Picture } from "astro:assets";

interface Props {
  title: string;
  text: string;
  tags?: string;
  link?: string;
  image: {
    src: string;
    alt: string;
    width: number;
    height: number;
    format: string;
  };
}

const { title, text, tags, link, image } = Astro.props as Props;
---

<a href={link} target="_blank" class="project">
  <div class="project__content">
    <h3 class="project__title">{title}</h3>
    <p class="project__text">{text}</p>
    <div class="project__meta">
      {tags && <p class="project__tags">{tags}</p>}
      {link && <span class="project__link">{link}</span>}
    </div>
  </div>
  <div class="project__image-container">
    <Picture {...image} formats={['avif']} alt={title} class="project__image" />
  </div>
</a>

<style lang="scss">
  .project {
    list-style: none;
    display: grid;
    gap: var(--space-40);
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid var(--color-border-primary);
    padding-bottom: var(--space-24);
    text-decoration: none;
    color: inherit;

    @media (max-width: 992px) {
      grid-template-columns: 1fr;
      gap: var(--space-8);
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: var(--space-16);
      transition: opacity 0.2s ease;
    }

    &__meta {
      color: var(--color-text-secondary);
      margin-top: auto;

      p {
        margin-bottom: var(--space-8);
      }
    }

    &__image-container {
      overflow: hidden;

      @media (max-width: 992px) {
        order: -1;
        margin-bottom: var(--space-24);
      }
    }

    &__image {
      width: 100%;
      height: auto;
      object-fit: cover;
      transition: transform 1s ease-in-out;
    }

    &:hover {
      opacity: 1;

      .project__content {
        opacity: 0.7;
      }

      .project__image {
        transform: scale(1.03);
      }
    }
  }
</style>