---
import { getCollection } from "astro:content";
import Project from "./Project.astro";
import SectionTitle from "../SectionTitle.astro";

const projects = await getCollection("projects");
---

<section class="projects" id="projects" aria-label="Избранные проекты">
  <SectionTitle title="Избранные проекты" />
  <div class="projects__grid">
    {projects.map((project) => (
      <Project
        title={project.data.title}
        text={project.data.text}
        tags={project.data.tags}
        link={project.data.link}
        image={project.data.image}
      />
    ))}
  </div>
</section>

<style lang="scss">
  .projects {
    &__grid {
      display: grid;
      gap: var(--space-80);
    }
  }
</style>