---
import Project from "./Project.astro";
import SectionTitle from "../SectionTitle.astro";

interface Frontmatter {
  title: string;
  text: string;
  tags?: string;
  link?: string;
  image: {
    src: string;
    alt: string;
    width: number;
    height: number;
    format: string;
  };
}

const projectFiles = import.meta.glob<{ frontmatter: Frontmatter }>('./data/*.md');

const projects = await Promise.all(
  Object.values(projectFiles).map(async (file) => {
    const { frontmatter } = await file();
    return frontmatter;
  })
);
---

<section class="projects" id="projects">
  <SectionTitle title="Избранные проекты" />
  <div class="projects__grid">
    {projects.map((project) => (
      <Project
        title={project.title}
        text={project.text}
        tags={project.tags}
        link={project.link}
        image={project.image}
      />
    ))}
  </div>
</section>

<style lang="scss">
  .projects {
    &__grid {
      display: grid;
      gap: var(--space-80);
    }
  }
</style>