---
import Project from "./Project.astro";
import SectionTitle from "../SectionTitle.astro";

import mnevabeauty from "../../../public/projects/mneva_beauty.png";
import travysamocvety from "../../../public/projects/travysamocvety.png";
import vostorg from "../../../public/projects/vostorg.png";
import proffoptimus from "../../../public/projects/proff_optimus.png";
import lingerieline from "../../../public/projects/lingerie_line.png";
import kott from "../../../public/projects/kott.png";
---

<section class="projects" id="projects">
  <SectionTitle title="Избранные проекты" />
  <div class="projects__grid">
    <Project
      title="Mneva Beauty"
      text="Описание"
      tags="Брендинг, Веб-дизайн, E-commerce, SEO, Контент"
      link="https://mnevabeauty.ru"
      preview={mnevabeauty}
    />
    <Project
      title="Травы и Самоцветы"
      text="Описание"
      tags="Брендинг, Веб-дизайн, E-commerce, SEO, Контент"
      link="https://травысамоцветы.рф"
      preview={travysamocvety}
    />
    <Project
      title="VOSTORG"
      text="Описание"
      tags="1С, Веб-дизайн, E-commerce, SEO, Контент"
      link="https://vostorg-shop.ru"
      preview={vostorg}
    />
    <Project
      title="Оптимус Профи"
      text="Описание"
      tags="1С, Брендинг, Веб-дизайн, E-commerce, SEO, Контент"
      link="https://proff-optimus.ru/"
      preview={proffoptimus}
    />
    <Project
      title="Lingerie Line"
      text="Описание"
      tags="Прототипирование, Брендинг, Веб-дизайн"
      link="https://lingerie-line.ru"
      preview={lingerieline}
    />
    <Project
      title="KOTT. Wear"
      text="Описание"
      tags="Брендинг, Веб-дизайн, E-commerce"
      preview={kott}
    />
  </div>
</section>

<style lang="scss">
  .projects {
    &__grid {
      display: grid;
      gap: var(--space-80);
    }
  }
</style>
