---
import { Image } from "astro:assets";

interface Props {
  title: string;
  text: string;
  tags?: string;
  link?: string;
  preview: ImageMetadata;
}

const { title, text, tags, link, preview } = Astro.props as Props;
---

<a href={link} target="_blank" title={title} class="project">
  <div class="project__content">
    <h3 class="project__title">{title}</h3>
    <p class="project__text">{text}</p>
    <div class="project__meta">
      {tags && <p class="project__tags">{tags}</p>}
    </div>
  </div>
  <Image src={preview} alt={title} class="project__image" />
</a>

<style lang="scss">
  .project {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid var(--color-border-primary);
    padding-bottom: var(--space-24);
    text-decoration: none;
    color: inherit;

    &__content {
      display: flex;
      flex-direction: column;
      gap: var(--space-16);
    }

    &__meta {
      color: var(--color-text-secondary);
      margin-top: auto;
    }

    &__image {
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    &:hover {
      background-color: var(--color-bg-hover);
    }
  }
</style>