---
import { Image } from 'astro:assets';
import Layout from '../../layouts/Layout.astro';
import Link from '../../components/Link.astro';
import { getCollection } from "astro:content";
import type { CollectionEntry } from 'astro:content';

export async function getStaticPaths() {
  const projectEntries = await getCollection("projects");

  return projectEntries.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }));
}

const { project } = Astro.props;
const { slug } = Astro.params;

if (!project) {
  throw new Error("Project is required");
}

const entry: CollectionEntry<"projects"> = project;

let previous: CollectionEntry<"projects"> | null = null;
let next: CollectionEntry<"projects"> | null = null;

const projects = await getCollection("projects");
const currentIndex = projects.findIndex(proj => proj.slug === slug);

if (currentIndex > 0) {
  previous = projects[currentIndex - 1];
}

if (currentIndex < projects.length - 1) {
  next = projects[currentIndex + 1];
}

const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
  <article class="article">
    <div class="article__top">
      <h1 class="h1--inner">{entry.data.title}</h1>
      <p>{entry.data.description}</p>
      <div class="article__meta">
        <span class="article__tags">{entry.data.tags?.join(', ').replace(/,(?!.*,)/gmi, ' и')}</span>
        <Link href={entry.data.link} target="_blank" text={entry.data.link} title={entry.data.title} isUnderlined />
      </div>
    </div>
    <div class="article__content">
      <Image width="900" loading="eager" src={entry.data.image} alt={entry.data.title} class="article__cover" />
      <div class="article__contentMain">
        <Content />
      </div>
    </div>
    <nav class="article__nav">
      {previous ? (
        <a href={`/project/${previous.slug}`} title="Предыдущий проект" class="article__navItem">
          <span>
            <Image width={300} loading="eager" alt="Предыдущий проект" src={previous.data.image} class="article__navImage"/>
          </span>
          <span>← {previous.data.title}</span>
        </a>
      ) : (
        <span />
      )}
      {next ? (
        <a href={`/project/${next.slug}`} title="Следующий проект" class="article__navItem">
          <span>
            <Image width={300} loading="eager" alt="Следующий проект" src={next.data.image} class="article__navImage"/>
          </span>
          <span>{next.data.title} →</span>
        </a>
      ) : (
        <span />
      )}
    </nav>
  </article>
</Layout>

<style lang="scss">
  .article {
    display: grid;
    gap: var(--space-64);
    margin: 0 auto;
    max-width: 900px;

    &__cover {
      margin: 0 auto;
      width: 100%;
    }

    &__top {
      display: grid;
      gap: var(--space-24);
    }

    &__meta {
      display: grid;
      gap: var(--space-8);
      justify-items: start;
    }

    &__tags {
      color: var(--color-text-secondary);
    }

    &__content {
      display: grid;
      gap: var(--space-64);

      &Main {
        display: grid;
      }
    }

    &__nav {
      display: flex;
      gap: var(--space-24);
      justify-content: space-between;
      align-items: start;
      text-decoration: none;
      padding-top: var(--space-24);
      border-top: 1px solid var(--color-border-primary);

      &Item {
        display: inline-grid;
        gap: var(--space-24);

        &:last-child {
          text-align: right;
        }
      }
    }
  }

  .h1--inner {
    font-size: var(--font-size-48);
    margin: 0;
    font-weight: 400;
    text-transform: inherit;
  }
</style>