---
import { Image } from 'astro:assets';
import Layout from '../../layouts/Layout.astro';
import { getEntry, getCollection } from "astro:content";

const projectEntries = await getCollection("projects");
const projects = projectEntries.sort((a,b)=>{return b.data.date - a.data.date});

const { slug } = Astro.params;

if (slug === undefined) {
  throw new Error("Slug is required");
}

const entry = await getEntry("projects", slug);

if (entry === undefined) {
  return Astro.redirect("/404");
}

let previous = null, next = null

const currentIndex = projects.findIndex(entry=>entry.slug===slug)

if(currentIndex > 0) {
    previous = projects[currentIndex-1]
}

if(currentIndex < projects.length) {
    next = projects[currentIndex+1]
}

const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
  <div>
    <div>
      <div>
        <Image width="1000" src={entry.data.image} alt={entry.data.title} />
      </div>
      <div>
        <h4>
          <strong>{entry.data.title}</strong>
        </h4>
        <h6>for {entry.data.tag.join(', ').replace(/,(?!.*,)/gmi, ' &')}</h6>
        <div>
          <Content />
        </div>
      </div>
      <div>
        {previous ? (
          <a href={`/project/${previous.slug}`}>
            <span>
              <Image width={244} loading="lazy" alt="" src={previous.data.image} />
            </span>
            <span>Previous Project</span>
          </a>
        ) : (
          <span />
        )}
        {next ? (
          <a href={`/project/${next.slug}`}>
            <span class="relative block transition duration-500 ease-in-out transform rounded hover:scale-105">
              <Image width={244} loading="lazy" alt="" src={next.data.image} />
            </span>
            <span>Next Project</span>
          </a>
        ) : (
          <span />
        )}
      </div>
    </div>
  </div>
</Layout>