---
import { type CollectionEntry } from 'astro:content';
import { Picture } from 'astro:assets';
import { type Locale } from '../../utils/i18n';
import { getRelativeLocaleUrl } from 'astro:i18n';

type Props = {
  project: CollectionEntry<'projects'>;
  class?: string;
  headingLevel?: 'h2' | 'h3';
  locale: Locale;
  index?: number;
};

const { project, headingLevel = 'h2', locale } = Astro.props as Props;
const { title, description, cover, path } = project.data;
const TitleTag = headingLevel;
const projectPath = getRelativeLocaleUrl(locale, `/projects/${path}/`);
const loading = 'lazy';
const sizes = '(max-width: 700px) 100vw, 50vw';
---

<a href={projectPath} aria-label={title} class="Project">
  <div class="Project__ImageContainer">
    {cover && (
      <Picture
        src={cover}
        alt={title}
        width={1280}
        height={720}
        formats={['avif', 'webp']}
        fallbackFormat="png"
        class="Project__Picture"
        sizes={sizes}
        widths={[480, 720, 960, 1280]}
        loading={loading}
      />
    )}
  </div>
  <div class="Project__Content">
    <TitleTag class="Project__Title">
      {title}
    </TitleTag>
    <p class="Project__Text">{description}</p>
  </div>
</a>

<style lang="scss">
  .Project {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--space-16);
    text-decoration: none;
    color: inherit;

    &__Content {
      display: flex;
      flex-direction: column;
      padding-right: var(--space-16);
    }

    &__Title {
      margin-top: 0;
      margin-bottom: var(--space-12);
    }

    &__Text {
      color: var(--color-text-secondary);
      font-size: var(--font-size-16);
      line-height: 140%;
    }

    &__ImageContainer {
      overflow: hidden;
      aspect-ratio: 16/9;
      background-color: var(--color-bg-raised);
      border-radius: var(--radius-s);
    }

    &__Picture {
      display: block;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 1s ease-in-out;
        display: block;
        border-radius: var(--radius-s);
      }
    }

    &:hover .Project__Picture img {
      transform: scale(1.03);
    }
  }
</style>


