---
import { getEntry } from 'astro:content';

import Link from "./Link.astro";

interface SocialLink {
  link: string;
  name: string;
  target: string;
}

const footer = await getEntry('base','footer');
---

<footer class="footer">
  <span>
    &copy; 2003—<span id="copyright"></span> lirik.pro
  </span>
  <nav aria-label="Primary" class="nav">
    <ul class="menu">
      {footer.data.socials.map((footer: SocialLink) =>
        <li>
          <Link href={footer.link} target="_blank" text={footer.name} title={footer.name} aria-label={footer.name} data-rel="noopener"></Link>
        </li>
      )}
    </ul>
  </nav>
  <span class="footer__author">{footer.data.author}</span>
</footer>

<style lang="scss">
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-40);
    padding: var(--space-40) 0;
    border-top: var(--size-1) solid var(--color-border-primary);
    color: var(--color-text-secondary);

    @media (max-width: 992px) {
      flex-direction: column;
      align-items: start;
      gap: var(--space-24);
    }
  }

  .menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--space-40);
    padding: 0;

    @media (max-width: 992px) {
      gap: var(--space-16);
    }
  }

  .menu li {
    list-style: none;
  }
</style>

<script>
  const copyrightElement = document.querySelector("#copyright");
  if (copyrightElement) {
    copyrightElement.textContent = new Date().getFullYear().toString();
  }
</script>
