---
import { marked } from 'marked';
import { Icon } from 'astro-icon/components';

import Button from './Button.astro';
import siteConfig from '../data/site-config';

const hero = siteConfig.hero;
---

{
  (hero?.title || hero?.text || hero?.actions) && (
    <section class="hero" id="hero" aria-label={hero.title}>
      {hero.title && <h1 class="hero__title">{hero.title}</h1>}
      <div class="hero__wrap">
        {hero.text && <div class="hero__text" set:html={marked.parse(hero.text)} />}
        {hero.actions && (
          <div>
            {hero.actions.map((action) => (
              <Button color="primary" size="large" isIcon href={action.href} target="_blank">
                <Icon name="whatsapp" width={24} height={24} />
                {action.text}
              </Button>
            ))}
          </div>
        )}
      </div>
    </section>
  )
}

<style lang="scss">
  .hero {
    &__wrap {
      display: grid;
      gap: var(--space-40);
      grid-template-columns: 500px 1fr;
      align-items: start;

      @media (max-width: 992px) {
        grid-template-columns: 1fr;
        gap: var(--space-16);
      }
    }

    &__title {
      font-size: 13vw;
      line-height: 90%;
      letter-spacing: -0.04em;
      margin-top: -4rem;
      margin-bottom: var(--space-64);

      @media (max-width: 992px) {
        font-size: 20vw;
        margin-bottom: var(--space-24);
        line-height: 100%;
      }
    }

    &__text {
      max-width: 40ch;

      @media (max-width: 992px) {
        p {
          font-size: var(--font-size-20);
        }
      }

      p:last-child {
        margin-bottom: var(--space-16);
      }
    }
  }
</style>
