---
import { Image } from "astro:assets";

interface Props {
  title: string;
  text: string;
  tags?: string;
  link?: string;
  preview: ImageMetadata;
}

const { title, text, tags, link, preview } = Astro.props as Props;
---

<li class="project">
  <div class="project__content">
    <h3 class="project__title">{title}</h3>
    <p class="project__text">{text}</p>
    <div class="project__meta">
      {tags && <p class="project__tags">{tags}</p>}
      {link && <a href={link} class="project__link">{link}</a>}
    </div>
  </div>
  <Image src={preview} alt={title} class="project__image" />
</li>

<style>
  .project {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid var(--color-border-primary);
    padding-bottom: var(--space-24);
  }
  .project__content {
    display: flex;
    flex-direction: column;
    gap: var(--space-16);
  }
  .project__meta {
    color: var(--color-text-secondary);
    margin-top: auto;
  }
  .project__link {
    color: var(--color-text-link-secondary);
  }
  .project__image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
</style>