---
import { getCollection } from "astro:content";
import ProjectCard from "./ProjectCard.astro";
import SectionTitle from "../components/SectionTitle.astro";

const allProjects = await getCollection("projects");
const projects = allProjects;

const commonContent = await import("../content/base/common.md").then(
  (module) => module as unknown as { frontmatter: { projectsTitle: string } }
);
const { projectsTitle } = commonContent.frontmatter;
---

<section class="projects" id="projects" aria-label={projectsTitle}>
  <SectionTitle title={projectsTitle} />
  <div class="projects__grid">
    {
      projects.map((project, index) => (
        <ProjectCard
          index={index + 1}
          slug={project.slug}
          title={project.data.title}
          description={project.data.description}
          image={project.data.image}
          tags={project.data.tags}
          link={project.data.link}
        />
      ))
    }
  </div>
</section>

<style lang="scss">
  .projects {
    &__grid {
      display: grid;
      gap: var(--space-80);
    }
  }
</style>
