---
import { ViewTransitions } from "astro:transitions";
import Seo from "../components/Seo.astro";

interface Props {
  title: string;
  description: string;
  image: string;
  data: any;
  robots: string;
}

const { title, description, image, data, robots } = Astro.props;
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="manifest" href="/site.webmanifest" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <meta name="description" content={description} />

  <Seo {title} {description} url={Astro.url} {image} {data} {robots} />
  <ViewTransitions />
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript">
    (function (m, e, t, r, i, k, a) {
      m[i] =
        m[i] ||
        function () {
          (m[i].a = m[i].a || []).push(arguments);
        };
      m[i].l = 1 * new Date();
      for (var j = 0; j < document.scripts.length; j++) {
        if (document.scripts[j].src === r) {
          return;
        }
      }
      (k = e.createElement(t)),
        (a = e.getElementsByTagName(t)[0]),
        (k.async = 1),
        (k.src = r),
        a.parentNode.insertBefore(k, a);
    })(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(97662917, "init", {
      clickmap: true,
      trackLinks: true,
      accurateTrackBounce: true,
    });
  </script>
  <noscript
    ><div>
      <img
        src="https://mc.yandex.ru/watch/97662917"
        style="position:absolute; left:-9999px;"
        alt=""
      />
    </div></noscript
  >
  <!-- /Yandex.Metrika counter -->
</head>
